<div class="login-box">

  <div class="card">
    <div class="card-body login-card-body">
      <p class="login-box-msg">Отправить инструкции по подтверждению</p>
      <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
        <%= render "web/users/shared/error_messages", resource: resource %>

        <div class="input-group mb-3">
          <div class="input-group-text">
            <span class="fas fa-at"></span>
          </div>
          <%= f.text_field :email, autofocus: true, autocomplete: 'email', class: 'form-control form-control-sm',
                           placeholder: 'Email', required: true %>
        </div>

        <div class="row">
          <div class="col-12 text-end">
            <%= f.submit 'Отправить', class: 'btn btn-primary fs-7' %>
          </div>
        </div>
      <% end %>
    </div>

    <div class="card-footer">
      <%= render "web/users/shared/links" %>
    </div>
  </div>

</div>
