<div class="row">
  <div class="col-md-12">

    <div class="card">
      <div class="card-header accent-purple overflow-auto">
        <div class="d-flex align-items-center gap-3">
          <% if policy(User).create? %>
            <%= draw_new_button(path: new_user_path(), button: true) %>
          <% end %>
          <%= render 'web/users/partials/search_form', q: @q %>
          <div class="ms-auto">
            <%== pagy_bootstrap_nav_custom(@pagy) %>
          </div>
        </div>
      </div>

      <div class="card-body p-0 overflow-auto">
        <table id="users-table" class="table table-striped table-bordered table-sm">
          <thead>
          <tr>
            <th class="w-60"><%= turbo_sort_link(@q, :id, 'ID') %></th>
            <th><%= turbo_sort_link(@q, :username, 'Имя пользователя') %></th>
            <th><%= turbo_sort_link(@q, :email, 'E-mail') %></th>
            <th><%= turbo_sort_link(@q, :role, 'Роль') %></th>
          </tr>
          </thead>
          <tbody>
          <% @users.each do |user| %>
            <%
              td_class = if user.locked_at?
                           ' class=bg-warning'
                         elsif user.discarded?
                           ' class=bg-danger'
                         end
            %>
            <tr>
              <td<%= td_class %>><%= ts_link_to(user.id, user) %></td>
              <td<%= td_class %>><%= ts_link_to(user.username, user) %></td>
              <td<%= td_class %>><%= ts_link_to(user.email, user) %></td>
              <td<%= td_class %>><%= ts_link_to(user.user_role_label, user) %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</div>
