<!DOCTYPE html>
<html lang="ru">
<head>
  <title><%= content_for(:title) || "Basic Rails8 App" %></title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
  <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

  <link rel="icon" href="/icon.png" type="image/png">
  <link rel="icon" href="/icon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="/icon.png">

  <%# Includes all stylesheet files in app/assets/stylesheets %>
  <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>

  <% if content_for?(:head) %>
    <%= yield :head %>
  <% end %>
</head>

<body class="layout-fixed sidebar-expand-lg sidebar-mini bg-body-tertiary app-loaded text-monospace text-sm">
<div id="main-container" class="app-wrapper">
  <%= render "layouts/lte/header" %>
  <%= render "layouts/lte/sidebar" %>
  <%= render "layouts/lte/content" %>
  <%= render "layouts/lte/footer" %>
</div>
<% if content_for?(:body_scripts) %>
  <%= yield :body_scripts %>
<% end %>
